<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>CSMG</title>
    <link rel="stylesheet" href="style/css/style.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body ng-app="app" ng-controller="mainController">
    <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" aria-expanded="true">
           <span class="sr-only">Toggle navigation</span>
           <img src="./src/assets/Menu.svg" class="navbarCollapseIcon"/>
         </button>
         <a class="navbar-brand" ui-sref="home">CENTER STATE MEDIA</a>
       </div>
       <div class="navbar-collapse collapse in" uib-collapse="isCollapsed" aria-expanded="true">
         <ul class="nav navbar-nav navbar-right">
           <li><a ui-sref="home" class="hvr-underline-from-center">HOME</a></li>
           <li><a ui-sref="projects" class="hvr-underline-from-center">PROJECTS</a></li>
           <li><a ui-sref="about" class="hvr-underline-from-center">ABOUT</a></li>
           <li><a ui-sref="contact" class="hvr-underline-from-center">CONTACT</a></li>
           <li><a href="http://www.facebook.com" target="Facebook"><img src="./src/assets/Facebook.svg" class="hvr-float"/></a></li>
           <li><a href="http://www.instagram.com" target="Instagram"><img src="./src/assets/Instagram.svg" class="hvr-float"/></a></li>
           <li><a href="http://www.vimeo.com" target="Vimeo"><img src="./src/assets/Vimeo.svg" class="hvr-float"/></a></li>
           <!-- <li><a ui-sref="clientPortal">Client Login</a></li> -->

         </ul>
       </div>
      </div>
      <div ng-class="{backdrop: isCollapsed === false}" ng-click="isCollapsed = !isCollapsed"></div>
    </nav>

   <div ui-view></div>

   <div class="container-fluid footerSpacing">
     <div class="row">
       <div class="col-md-12">
         <footer>
           <div class="container-fluid">
             <p class="text-center"><small>&copy; {{theCurrentYear}} CENTER STATE MEDIA | BY ANDREW VYE</small></p>
           </div>
         </footer>
       </div>
     </div>
   </div>


    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-touch/angular-touch.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/angular-scroll/angular-scroll.min.js"></script>

    <script src="src/clientPortal/clientPortal.js"></script>
    <script src="src/contact/contact.js"></script>
    <script src="src/home/home.js"></script>
    <script src="src/projects/projects.js"></script>
    <script src="src/about/about.js"></script>
    <script src="src/app/app.js"></script>
  </body>
</html>
