<div class="container-fluid ">
  <div class="row navbarSpacing">
    <div class="affix col-xs-5 col-sm-3 col-md-3 col-lg-2 blackBoxBackground">
      <h3 class="whiteFont hoverCursor" ng-click=projectFilterClick('Architecture') ng-class="{activeProject: projectImageFilter === 'Architecture'}"><b><big>Architecture</big></b></h3>
      <h3 class="whiteFont hoverCursor" ng-click=projectFilterClick('Product') ng-class="{activeProject: projectImageFilter === 'Product'}"><b><big>Product</big></b></h3>
      <h3 class="whiteFont hoverCursor" ng-click=projectFilterClick('Video') ng-class="{activeProject: projectImageFilter === 'Video'}")><b><big>Video</big></b></h3>
      <h3 class="whiteFont hoverCursor" ng-click=projectFilterClick('Personal') ng-class="{activeProject: projectImageFilter === 'Personal'}"><b><big>Personal</big></b></h3>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div ng-repeat="projectImage in projectImages | filter: projectImageFilter">
    <div class="row backgroundProjectImageMargin" ng-if="!projectImage.video" ng-style="{'background-image': 'url(' + projectImage.src + ')', 'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': 'center'}">
      <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-3 heroSpacing">
        <h4 class="whiteFont homePageCalloutText text-center"><b></b></h4>
      </div>
    </div>
    <div ng-if="projectImage.video" class="row">
      <div ng-if="projectImage.video" class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-2">
        <iframe ng-if="projectImage.video" src="https://player.vimeo.com/video/8733915" class="embed-responsive-item " webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
