<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
      <div class="sidebar-nav-fixed affix centerOptionsBar">
        <ul class="nav">
          <li>
            <p class="" ng-click=projectFilterClick('Architecture')>Architecture</p>
          </li>
          <li>
            <p class="" ng-click=projectFilterClick('Product')>Product</p>
          </li>
          <li>
            <p class="" ng-click=projectFilterClick('Video')>Video</p>
          </li>
          <li>
            <p class="" ng-click=projectFilterClick('Personal')>Personal</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <div ng-repeat="projectImage in projectImages | filter: projectImageFilter">
        <img ng-if="!projectImage.video" src="{{projectImage.src}}" class="img-responsive imageSpacingBottom" alt="{{projectImage.alt}}">
        <div ng-if="projectImage.video" class="embed-responsive embed-responsive-16by9 imageSpacingBottom">
          <iframe ng-if="projectImage.video" src="https://player.vimeo.com/video/8733915" class="embed-responsive-item " webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
