<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 center-text">
      <p class="text-center hoverCursor" ng-class="{activeProject: projectImageFilter === 'Architecture'}" ng-click=projectFilterClick('Architecture')><i><b>Architecture</b></i></p>
    </div>
    <div class="col-xs-2 col-sm-3 col-md-2 col-lg-1 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 center-text">
      <p class="text-center hoverCursor" ng-class="{activeProject: projectImageFilter === 'Video'}" ng-click=projectFilterClick('Video')><i><b>Video</b></i></p>
    </div>
    <div class="col-xs-2 col-sm-3 col-md-2 col-lg-1 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 center-text">
      <p class="text-center hoverCursor" ng-class="{activeProject: projectImageFilter === 'Product'}" ng-click=projectFilterClick('Product')><i><b>Product</b></i></p>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 center-text">
      <p class="text-center hoverCursor" ng-class="{activeProject: projectImageFilter === 'Personal'}" ng-click=projectFilterClick('Personal')><i><b>Personal</b></i></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
        <div uib-carousel template-url="/src/projects/carousel.html" active="active" interval="myInterval">
          <div uib-slide ng-repeat="projectImage in projectImages | filter: projectImageFilter" index="$index">
            <img ng-if="!projectImage.video" src="{{projectImage.src}}" class="img-responsive" alt="{{projectImage.alt}}">
            <div ng-if="projectImage.video" class="embed-responsive embed-responsive-16by9 imageSpacingBottom">
              <iframe ng-if="projectImage.video" src="https://player.vimeo.com/video/8733915" class="embed-responsive-item " webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <!-- <div class="carousel-caption"> -->
              <!-- <h4>Slide </h4> -->
            <!-- </div> -->
          </div>
        </div>
    </div>
  </div>
</div>
