/* Will give spacing for the navbar */
body {
  padding-top: 70px;
}

html {
    height: 100%;
    position: relative;
}

/* Will get rid of underline on hover of links */
a {
  text-decoration:none;
  &:hover {
    text-decoration: none;
  }
}

/* Change the cursor when it hovers over an li to be the same whether a button or not*/
li { cursor: pointer; }
