/* Will give spacing for the navbar */
// body {
//   padding-top: 70px;
// }

html {
    height: 100%;
    position: relative;
}

/* Will get rid of underline on hover of links */
a {
  text-decoration:none;
  &:hover {
    text-decoration: none;
  }
}

/* responsive text queries */
@media screen and (max-width: 992px) {
  p,.btn,input,div,span,h4 {
    font-size: 95%;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  p,.btn,input,div,span,h4 {
    font-size: 90%;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
}
