.homePageImages {
  margin-bottom: 3%
}
.whiteFont {
  color: white;
}

.blackFont {
  color: black;
}

.hero {
  background: url('../../src/assets/BrixPix-3.jpg');
  background-size: cover;
  height: 100vh;
}

.heroSpacing {
  margin-top: 45%;
}

.backgroundRowMargin {
  margin-top: 5px;
}

.backgroundFirstImage {
  background-image: url("../../src/assets/IMG_7875.jpg");
  background-size: cover;
}

.backgroundFirstImageMargin {
  margin-top: 5%;
  margin-bottom: 45%;
}

.backgroundSecondImage {
  background-image: url("../../src/assets/BrixPix-2.jpg");
  background-size: cover;
}

.backgroundSecondImageMargin {
  margin-top: 25%;
  margin-bottom: 25%;
}

.backgroundThirdImage {
  background-image: url("../../src/assets/BrixPix.jpg");
  background-size: cover;
}

.backgroundThirdImageMargin {
  margin-top: 25%;
  margin-bottom: 25%;
}

.backgroundFourthImage {
  background-image: url("../../src/assets/BrixPix.jpg");
  background-size: cover;
}

.backgroundFourthImageMargin {
  margin-top: 25%;
  margin-bottom: 25%;
}

.backgroundColorFirst {
  background-color: $backgroundColorFirst;
}

.backgroundColorLast {
  background-color: $primaryGray;
}
