.homePageImages {
  margin-bottom: 3%
}
.whiteFont {
  color: white;
}

.blackFont {
  color: black;
}

.blackBoxBackground {
  background-color: rgba(0, 0, 0, .8);
}

.hero {
  background: url('../../src/assets/BrixPix-3.jpg');
  background-size: cover;
  height: 100vh;
}

.heroSpacing {
  margin-top: 45%;
}

.backgroundRowMargin {
  margin-top: 5px;
}

.backgroundFirstImage {
  background-image: url("../../src/assets/IMG_7875.jpg");
  background-size: cover;
}

.backgroundSecondImage {
  background-image: url("../../src/assets/BrixPix-2.jpg");
  background-size: cover;
}

.backgroundThirdImage {
  background-image: url("../../src/assets/BrixPix.jpg");
  background-size: cover;
}

.homePageCalloutText {
  margin-top: 20%;
  margin-bottom: 20%;
}

.backgroundColorFirst {
  background-color: $backgroundColorFirst;
}

.backgroundColor {
  background-color: rgba(0, 0, 0, .8);
}

.homePageTextSpacing {
  margin-top: 65%
}
