.homePageImages {
  margin-bottom: 3%
}
.whiteFont {
  color: white;
}
.backgroundFirstImage {
  background-image: url("../../src/assets/BrixPix-2.jpg");
  background-size: cover;
}

.backgroundSecondImage {
  background-image: url("../../src/assets/BrixPix-3.jpg");
  background-size: cover;
}

.backgroundThirdImage {
  background-image: url("../../src/assets/BrixPix.jpg");
  background-size: cover;
}
