.activeProject {
  border-bottom: 2px solid;
  // border-bottom-width: 20px;
}

.carousel-indicators .active {
  background-color: #000;
}

.carousel-indicators li {
  border: 1px solid #000
}

.noDisplay {
  display: none;
}

.verticalIcon {
  top: 50%;
  position: absolute;
}

.blackFont {
  color: black;
}

.centerOptionsBar {
	  top: 50%;
	}

  .backgroundProjectImageMargin {
    margin-bottom: 5px;
  }
