.scrollActive {
  background: rgba(39,62,84,0.7);
  overflow: hidden;
}

.centerOptionsBar {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.optionsBarElement {
  margin-bottom: 35%
}

.optionsCircle {
  //  background-color: rgba(204, 0, 102, 0);
   border: 2px solid #333;
   height: 20px;
   width: 20px;
   border-radius:50%;
}
