<div class="container">
  <div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <h3 class="center-text">Contact Us</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <p>Lots of text</p>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <form>
        Name: <input type="text" ng-model="userContact.name" /><br />
        E-mail: <input type="email" ng-model="userContact.email" /><br />
        Phone: <input type="tel" ng-model="userContact.phone" /><br />
        Summary of Interest: <input type="text" ng-model="userContact.interest" /><br />
      </form>
      <button class="btn btn-primary pull-right" type="button" ng-click="submitContactForm()">Submit</button>
    </div>
  </div>
</div>
