<div class="container-fluid">
  <div class="row">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
      <img src='/src/assets/BrixPix-2.jpg' class="img-responsive homePageImages" alt="Pineapple image" id="special1">
      <img src='/src/assets/BrixPix-3.jpg' class="img-responsive homePageImages" alt="Pineapple image" id="special2">
      <img src='/src/assets/BrixPix.jpg' class="img-responsive homePageImages" alt="Pineapple image" id="special3">
      <img src='/src/assets/IMG_7875.jpg' class="img-responsive homePageImages" alt="Pineapple image" id="special4">
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
      <div class="sidebar-nav-fixed affix centerOptionsBar">
        <!-- <div class="well"> -->
          <ul class="nav">
            <li>
              <div class="optionsCircle optionsBarElement" du-scrollspy offset="50" alt="Pineapple image" href="#special1" ng-click=sidebarScrollTo('special1')></div>
            </li>
            <li>
              <div class="optionsCircle optionsBarElement" du-scrollspy offset="50" alt="Pineapple image" href="#special2" ng-click=sidebarScrollTo('special2')></div>
            </li>
            <li>
              <div class="optionsCircle optionsBarElement" du-scrollspy offset="50" alt="Pineapple image" href="#special3" ng-click=sidebarScrollTo('special3')></div>
            </li>
            <li>
              <div class="optionsCircle optionsBarElement" du-scrollspy offset="50" alt="Pineapple image" href="#special4" ng-click=sidebarScrollTo('special4')></div>
            </li>
          </ul>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
